---
import ExperienceItem from "./ExperienceItem.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

let EXPERIENCE = [
  {
    date: "October 2024 - Present",
    title: "DevOps Engineering Student",
    company: "CIRAD / Polytech Montpellier",
    description:
      "As a DevOps Engineering student, I am involved in designing, creating and deploying solutions for searchers in the CIRAD of Montpellier. I'm studying in parallel at Polytech Montpellier, where I am learning to apply DevOps principles to enhance software development and operations.",
  },
  {
    date: "August 2023",
    title: "Commercial advisor and computer park management",
    company: "Virtual Xperience",
    description:
      "I worked as a commercial advisor and managed the computer park at Virtual Xperience, a company specializing in virtual reality experiences. My role involved assisting customers, managing user experience, and ensuring the smooth operation of the computer systems.",
  },
];

if(lang == 'fr') {
  EXPERIENCE = [
    {
      date: "Octobre 2024 - Présent",
      title: "Apprenti Ingénieur DevOps",
      company: "CIRAD / Polytech Montpellier",
      description:
        "En tant qu'apprenti Ingénieur DevOps, je suis impliqué dans la conception, la création et le déploiement de solutions pour les chercheurs du CIRAD de Montpellier. J'étudie en parallèle à Polytech Montpellier, où j'apprends à appliquer les principes DevOps pour améliorer le développement d'applications et leur déploiement.",
    },
    {
      date: "Août 2023",
      title: "Conseiller commercial et gestionnaire du parc informatique",
      company: "Virtual Xperience",
      description:
        "J'ai travaillé en tant que conseiller commercial et ai géré le parc informatique chez Virtual Xperience, une entreprise spécialisée dans les expériences de réalité virtuelle. Mon rôle consistait à assister les clients, gérer l'expérience utilisateur et assurer le bon fonctionnement des systèmes informatiques.",
    },
    
  ];
}
---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
